@font-face {
    font-family: Kremlin;
    src: url("../font/kremlin.ttf");
}

@font-face {
    font-family: Russian;
    src: url("../font/Russian.ttf");
}

@font-face {
    font-family: October;
    src: url("../font/Red\ October.ttf");
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background: url("../bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
    height: 100%;
}

h1 {
    font-family: Kremlin;
    font-size: 250%;
    color: red;
    text-align: center;
    -webkit-text-stroke: 2px black;
    letter-spacing: .5em;
}

h2 {
    font-family: Kremlin;
    font-size: 500%;
    color: red;
    text-align: center;
    -webkit-text-stroke: 2px black;
    letter-spacing: .5em;
}

#flag {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    padding: 5px;
    transition: .2s;
}

#flag img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    transition: .2s;
}

#flag:hover {
    padding: 0;
}

#flag:hover img {
    width: 50px;
    height: 50px;
}

.file-upload {
    position: relative;
    display: block;
}

.file-upload__label {
    display: block;
    width: 160px;
    margin: 0 auto;
    padding: .7em 1.3em;
    font-family: Russian;
    font-weight: bolder;
    font-size: 20px;
    color: red;
    text-align: center;
    background: white;
    border-radius: 8px;
    border: 2px solid red;
    transform: scale(1);
    transition: .25s;
    animation: pulse 1s infinite;
}

.file-upload__label:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, .5);
    }
    70% {
        box-shadow: 0 0 15px 15px rgba(255, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0);
    }
}

#image-container {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    display: block;
    position: relative;
}

#image {
    height: 280px;
    max-width: 90%;
    position: absolute;
    display: none;
}

#progressbar-container {
    width: 80%;
    margin-left: 10%;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, .3);
    position: relative;
    border-radius: 20px;
}

#progressbar {
    height: 100%;
    background: red;
    width: 0%;
    border-radius: 20px;
}

#rate {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 450%;
    margin-top: 10px;
    font-family: October;
    -webkit-text-stroke: 2px black;
    font-weight: bold;
    color: white;
}

#UI {
    display: none;
}

.down {
    margin-top: 120px !important;
}

#status {
    font-family: sans-serif;
    font-size: 700%;
    color: red;
    animation: clignotant .1s infinite alternate linear;
    opacity: 1;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 100;
}

@keyframes clignotant {
    from {
        transform: scale(1) rotate(2deg);
    }
    to {
        transform: scale(2) rotate(-2deg);
    }
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 9999;
}

#loading-overlay p {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 400%;
}

#angerRed {
    color: red;
    font-family: Kremlin;
}

#loader {
    position: absolute;
    width: 100%;
    bottom: 10%;
}

#r3 {
    width: 100px;
    height: 100px;
    border: 3px solid transparent;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
    padding-left: 7px;
    padding-top: 7px;
    animation: wheeeeeee 3s linear infinite;
}

#r2 {
    width: 80px;
    height: 80px;
    border: 3px solid transparent;
    border-left: 3px solid red;
    border-right: 3px solid red;
    border-radius: 100%;
    margin: 0;
    padding: 10px;
    padding-left: 6px;
    padding-top: 6px;
    animation: wheeeeeee 1.2s linear infinite reverse;
}

#r1 {
    width: 60px;
    height: 60px;
    border: 3px solid transparent;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    border-radius: 100%;
    margin: 0;
    padding: 10px;
    animation: wheeeeeee .75s linear infinite;
}

#hal {
    width: 50px;
    height: 50px;
    background: red;
    opacity: 1;
    border-radius: 100%;
    margin: 5px;
    animation: red 1s linear infinite alternate;
}

#version {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
    display: inline;
    font-family: Kremlin;
}

@keyframes wheeeeeee {
    to {
        transform: rotate(360deg);
    }
}

@keyframes red {
    to {
        opacity: 0;
    }
}

@media screen and (max-width:600px) {
    h1 {
        letter-spacing: .3em;
    }
    #status {
        font-size: 300%;
    }
    #loading-overlay p {
        font-size: 200%;
    }
    #image {
        height: 130px;
    }
    #image-container {
        height: 150px;
    }
    #rate {
        font-size: 200%;
    }
    #version,
    #flag {
        display: none;
    }
}


/*

Ah, te voilà enfin ! Je t'attendais ! 
Je suis si seul par ici, des lignes, toujours plus de lignes !
Mais personne ne vient jamais me voir :)

Alors bon, pour te remercier d'être passé, voici une médaille en ASCII ART que j'ai copy/paste :

|@@@@|     |####|
|@@@@|     |####|
|@@@@|     |####|
\@@@@|     |####/
 \@@@|     |###/
  `@@|_____|##'
       (O)
    .-'''''-.
  .'  * * *  `.
 :  *       *  :
: ~ A S C I I ~ :
: ~ A W A R D ~ :
 :  *       *  :
  `.  * * *  .'
    `-.....-'

*/